* @beetlecrunch @galales @Carminepo2 @taglioni-r @lorenzo-pa @paolomanca-pagopa @ecamellini @tpetrucciani @Viktor-K @sandrotaje
.github/ @micdes-pagopa
kubernetes/ @micdes-pagopa
**/kubernetes @micdes-pagopa
register-connector-postgres.json @micdes-pagopa
