* @beetlecrunch @galales @Carminepo2 @taglioni-r @lorenzo-pa @paolomanca-pagopa
.github/ @micdes-pagopa
kubernetes/ @micdes-pagopa
**/kubernetes @micdes-pagopa
register-connector-postgres.json @micdes-pagopa
