openapi: 3.0.3
info:
  title: PDND Interoperability API
  x-summary: PDND Interoperability API
  version: "2.0.0"
  contact:
    name: API Support
    url: "http://www.example.com/support"
    email: support@example.com
  termsOfService: "http://swagger.io/terms/"
servers:
  - url: "https://api.interop.pagopa.it/v2"
    description: Production
security:
  - bearerAuth: []
tags:
  - name: clients
    description: Clients routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: attributes
    description: Attributes routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: agreements
    description: Agreements routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: eservices
    description: EServices routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: purposes
    description: Purposes routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: tenants
    description: Tenants routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: delegations
    description: Delegations routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: eserviceTemplates
    description: EService Templates routes
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
  - name: health
    description: Verify service status
    externalDocs:
      description: Find out more
      url: "http://swagger.io"
paths:
  /agreements:
    get:
      tags:
        - agreements
      description: List agreements
      summary: List agreements
      operationId: getAgreements
      parameters:
        - in: query
          name: states
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/AgreementState"
            default: []
          explode: false
        - in: query
          name: producerIds
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: consumerIds
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: eserviceIds
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: offset
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Agreements retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreements"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    post:
      tags:
        - agreements
      description: Creates an agreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementSeed"
        required: true
      responses:
        "201":
          description: Agreement created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}:
    parameters:
      - name: agreementId
        in: path
        description: The agreement id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - agreements
      description: Get agreement
      operationId: getAgreement
      responses:
        "200":
          description: Agreement retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/approve:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        in: path
        required: true
    post:
      tags:
        - agreements
      summary: Approve Pending Agreement
      operationId: approveAgreement
      responses:
        "200":
          description: Agreement approved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/reject:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        in: path
        required: true
        description: identifier of the pending agreement to be rejected
    post:
      tags:
        - agreements
      summary: Reject Agreement
      operationId: rejectAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementRejection"
        required: true
      responses:
        "200":
          description: Agreement rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/submit:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        in: path
        required: true
        description: identifier of the draft agreement to be submitted
    post:
      tags:
        - agreements
      summary: Agreement Sumbission
      operationId: submitAgreement
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgreementSubmission"
        description: payload for agreement submission
        required: true
      responses:
        "200":
          description: Draft agreement submitted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/suspend:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        in: path
        required: true
        description: identifier of the pending agreement to be suspended
    post:
      tags:
        - agreements
      summary: Suspend Agreement
      operationId: suspendAgreement
      responses:
        "200":
          description: Active agreement suspended
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/unsuspend:
    parameters:
      - schema:
          type: string
          format: uuid
        name: agreementId
        in: path
        required: true
    post:
      tags:
        - agreements
      summary: Agreement Unsuspended
      operationId: unsuspendAgreement
      responses:
        "200":
          description: Agreement activated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /agreements/{agreementId}/upgrade:
    parameters:
      - name: agreementId
        in: path
        description: The identifier of the agreement to update
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - agreements
      summary: Upgrade the agreement
      description: Upgrades the agreement with a newer eservice version, if any
      operationId: upgradeAgreement
      responses:
        "200":
          description: Agreement updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agreement"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /consumerDelegations:
    get:
      tags:
        - delegations
      description: List delegations
      summary: List delegations
      operationId: getConsumerDelegations
      parameters:
        - in: query
          name: states
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/DelegationState"
            default: []
          explode: false
        - in: query
          name: delegatorIds
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: delegateIds
          required: false
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: eserviceIds
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: offset
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
        - in: query
          name: limit
          required: true
          schema:
            type: integer
            format: int32
            minimum: 1
            maximum: 50
      responses:
        "200":
          description: Delegations retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerDelegations"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    post:
      tags:
        - delegations
      description: Creates a consumer delegation
      operationId: createConsumerDelegation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationSeed"
        required: true
      responses:
        "201":
          description: Delegation created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /consumerDelegations/{delegationId}/accept:
    parameters:
      - name: delegationId
        in: path
        description: The delegation id
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - delegations
      description: Accept consumer delegation
      operationId: acceptConsumerDelegation
      responses:
        "200":
          description: Delegation updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /certifiedAttributes:
    post:
      tags:
        - attributes
      summary: Create certified attribute
      description: Create the attribute passed as payload
      operationId: createCertifiedAttribute
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertifiedAttributeSeed"
      responses:
        "201":
          description: Certified attribute created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertifiedAttribute"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /certifiedAttributes/{attributeId}:
    parameters:
      - name: attributeId
        in: path
        description: The attribute id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - attributes
      description: Get certified attribute
      operationId: getCertifiedAttribute
      responses:
        "200":
          description: Certified attribute retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CertifiedAttribute"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /clients/{clientId}/purposes:
    parameters:
      - name: clientId
        in: path
        description: The client id
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - clients
      description: Add a purpose to the client
      operationId: addClientPurpose
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClientAddPurpose"
        required: true
      responses:
        "204":
          description: Purpose added
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /consumerDelegations/{delegationId}/reject:
    parameters:
      - name: delegationId
        in: path
        description: The delegation id
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - delegations
      description: Rejects a consumer delegation
      summary: Consumer delegation rejection
      operationId: rejectConsumerDelegation
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DelegationRejection"
        required: true
        description: Payload for delegation rejection
      responses:
        "200":
          description: Delegation updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsumerDelegation"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /eservices:
    get:
      tags:
        - eservices
      description: Get eservices
      operationId: getEServices
      parameters:
        - in: query
          name: producersIds
          description: comma separated sequence of producers IDs
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - in: query
          name: templatesIds
          description: comma separated sequence of template IDs
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - name: offset
          in: query
          description: The offset used for pagination
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The limit used for pagination
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Eservices retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EServices"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /eservices/{eserviceId}:
    parameters:
      - name: eserviceId
        in: path
        description: The eservice id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - eservices
      description: Get eservice
      operationId: getEservice
      responses:
        "200":
          description: Eservice retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EService"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /eservices/{eserviceId}/descriptors:
    parameters:
      - name: eserviceId
        in: path
        description: The eservice id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - eservices
      description: Get eservice descriptors
      operationId: getEServiceDescriptors
      parameters:
        - name: state
          in: query
          description: The descriptor state
          schema:
            $ref: "#/components/schemas/EServiceDescriptorState"
        - name: offset
          in: query
          description: The offset used for pagination
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The limit used for pagination
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: E-Service descriptors retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EServiceDescriptors"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /eservices/{eserviceId}/descriptors/{descriptorId}:
    parameters:
      - name: eserviceId
        in: path
        description: The eservice id
        required: true
        schema:
          type: string
          format: uuid
      - name: descriptorId
        in: path
        description: The descriptor id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - eservices
      description: Get eservice descriptor
      operationId: getEServiceDescriptor
      responses:
        "200":
          description: E-Service descriptor retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EServiceDescriptor"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /eserviceTemplates/{templateId}:
    parameters:
      - name: templateId
        in: path
        description: The template id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - eserviceTemplates
      operationId: getEserviceTemplate
      responses:
        "200":
          description: E-Service template retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EServiceTemplate"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /eserviceTemplates/{templateId}/versions:
    parameters:
      - name: templateId
        in: path
        description: The template id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - eserviceTemplates
      description: Get eservice template versions
      operationId: getEServiceTemplateVersions
      parameters:
        - name: state
          in: query
          description: The version state
          schema:
            $ref: "#/components/schemas/EServiceTemplateVersionState"
        - name: offset
          in: query
          description: The offset used for pagination
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The limit used for pagination
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: E-Service template versions retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/EServiceTemplateVersion"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /eserviceTemplates/{templateId}/versions/{versionId}:
    parameters:
      - name: templateId
        in: path
        description: The template id
        required: true
        schema:
          type: string
          format: uuid
      - name: versionId
        in: path
        description: The version id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - eserviceTemplates
      description: Get eservice template version
      operationId: getEServiceTemplateVersion
      responses:
        "200":
          description: E-Service template version retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EServiceTemplateVersion"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /purposes:
    post:
      tags:
        - purposes
      operationId: createPurpose
      description: Creates a purpose
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurposeSeed"
        required: true
      responses:
        "201":
          description: Purpose created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Purpose"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    get:
      tags:
        - purposes
      operationId: getPurposes
      description: List purposes
      parameters:
        - name: eserviceIds
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
            default: []
          explode: false
        - name: offset
          in: query
          description: The offset used for pagination
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The limit used for pagination
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Purposes retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Purposes"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /purposes/{purposeId}:
    parameters:
      - name: purposeId
        in: path
        description: The purpose id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - purposes
      operationId: getPurpose
      description: Get purpose
      responses:
        "200":
          description: Purpose retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Purpose"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /purposes/{purposeId}/versions:
    parameters:
      - name: purposeId
        in: path
        description: The Purpose id
        required: true
        schema:
          type: string
    get:
      tags:
        - purposes
      operationId: getPurposeVersions
      description: Get purpose versions
      parameters:
        - name: state
          in: query
          description: The version state
          schema:
            $ref: "#/components/schemas/PurposeVersionState"
        - name: offset
          in: query
          description: The offset used for pagination
          schema:
            type: integer
            format: int32
        - name: limit
          in: query
          description: The limit used for pagination
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: Purpose versions retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurposeVersions"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
    post:
      tags:
        - purposes
      summary: Create new version
      operationId: createPurposeVersion
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PurposeVersionSeed"
        required: true
      responses:
        "201":
          description: Purpose version created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurposeVersion"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /purposes/{purposeId}/versions/{versionId}:
    parameters:
      - name: purposeId
        in: path
        description: The purpose id
        required: true
        schema:
          type: string
          format: uuid
      - name: versionId
        in: path
        description: The version id
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags:
        - purposes
      operationId: getPurposeVersion
      description: Get purpose version
      responses:
        "200":
          description: Purpose version retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurposeVersion"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
  /purposes/{purposeId}/activate:
    parameters:
      - name: purposeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags:
        - purposes
      operationId: activateDraftPurpose
      description: Activate Draft Purpose
      responses:
        "204":
          description: Purpose activated
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
              $ref: "#/components/headers/RateLimitRemainingHeader"
            X-Rate-Limit-Interval:
              $ref: "#/components/headers/RateLimitIntervalHeader"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Problem"
          headers:
            X-Rate-Limit-Limit:
              $ref: "#/components/headers/RateLimitLimitHeader"
            X-Rate-Limit-Remaining:
[...]
