name: PR validation
on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  formatting:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Cache turbo setup
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        with:
          path: |
            .turbo
            packages/*/.turbo
          key: ${{ runner.os }}-turbo-check-formatting-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-check-formatting
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          run_install: true
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ./package.json
      - run: pnpm format:check

  lint-openapi:
    name: Lint Open Api specification
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: stoplightio/spectral-action@6416fd018ae38e60136775066eb3e98172143141 # v0.8.12
        with:
          file_glob: "./packages/api-clients/open-api/!(selfcareV2ClientApi.yml|authorizationManagementApi.yaml|notifierApi.yml|apiGatewayApi.yml)"

  packages_sharding:
    name: Create packages sharding
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      test_matrix: ${{ steps.sharded_packages.outputs.test_matrix }}
      lint_matrix: ${{ steps.sharded_packages.outputs.lint_matrix }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Find packages with test directories
        id: get_test_packages
        run: |
          PACKAGES=$(find packages -mindepth 1 -maxdepth 1 -type d -exec test -d '{}/test' \; -print | while read -r DIR; do
            PACKAGE_NAME=$(jq -r '.name' "$DIR/package.json")
            echo "$PACKAGE_NAME"
          done | grep -v 'commons-test' | sort | jq -R -s -c 'split("\n")[:-1]')

          echo "Packages with tests found: $(echo "$PACKAGES" | jq 'length')"
          echo "test_packages=$PACKAGES" >> $GITHUB_OUTPUT

      - name: Find ALL packages
        id: get_all_packages
        run: |
          PACKAGES=$(find packages -mindepth 1 -maxdepth 1 -type d -print | while read -r DIR; do
            PACKAGE_NAME=$(jq -r '.name' "$DIR/package.json" 2>/dev/null)
            if [ -n "$PACKAGE_NAME" ]; then
              echo "$PACKAGE_NAME"
            fi
          done | grep -v 'commons-test' | sort | jq -R -s -c 'split("\n")[:-1]')

          echo "All valid packages found: $(echo "$PACKAGES" | jq 'length')"
          echo "all_packages=$PACKAGES" >> $GITHUB_OUTPUT

      - name: Create shards matrices
        id: sharded_packages
        run: |
          SHARD_NUM=10

          create_shard_matrix() {
            local PACKAGES_JSON=$1
            local PACK_NUM=$2
            local OUTPUT_VAR=$3

            matrix=$(jq --argjson shardNum "$SHARD_NUM" --argjson packs "$PACKAGES_JSON" --argjson len "$PACK_NUM" -n -c '
              [range(0; $shardNum) as $i |
              {
                "shardIndex": ($i + 1),
                "packages": ($packs[
                ($i * $len / $shardNum | floor):
                (($i + 1) * $len / $shardNum | floor)
                ])
              }
              ]')

            echo "$OUTPUT_VAR=$matrix" >> $GITHUB_OUTPUT
          }

          # TEST
          TEST_PACKAGES_JSON='${{ steps.get_test_packages.outputs.test_packages }}'
          TEST_PACK_NUM=$(echo "$TEST_PACKAGES_JSON" | jq -r length)
          create_shard_matrix "$TEST_PACKAGES_JSON" "$TEST_PACK_NUM" "test_matrix"

          # LINT
          ALL_PACKAGES_JSON='${{ steps.get_all_packages.outputs.all_packages }}'
          ALL_PACK_NUM=$(echo "$ALL_PACKAGES_JSON" | jq -r length)
          create_shard_matrix "$ALL_PACKAGES_JSON" "$ALL_PACK_NUM" "lint_matrix"

  build:
    name: Full project build
    runs-on: ubuntu-latest
    needs: [formatting]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Cache turbo setup
        uses: actions/cache@638ed79f9dc94c1de1baef91bcab5edaa19451f4
        with:
          path: |
            .turbo
            packages/*/.turbo
          key: ${{ runner.os }}-turbo-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-build-
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ./package.json
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          run_install: true
      - name: Build all packages
        run: pnpm build
      - name: Upload build artifact
        uses: actions/upload-artifact@v4 # v4
        with:
          name: build-output
          path: |
            .turbo/
            packages/*/dist/

  lint:
    name: Lint sharded
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [packages_sharding, formatting, build]
    strategy:
      fail-fast: false
      matrix:
        shard: ${{ fromJson(needs.packages_sharding.outputs.lint_matrix) }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ./package.json
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          run_install: true
      - name: Download build artifact
        uses: actions/download-artifact@v4 # v4
        with:
          name: build-output
          path: .
      - name: Run lint for shard
        run: |
          PACKAGES_JSON='${{ toJson(matrix.shard.packages) }}'
          echo "$PACKAGES_JSON" | jq -r '.[]' | while read -r PACKAGE; do
            echo "Running lint for package: $PACKAGE"
            pnpm --filter "$PACKAGE" lint
          done

  test:
    name: Tests sharded
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: [formatting, packages_sharding, build]
    strategy:
      fail-fast: false
      matrix:
        shard: ${{ fromJson(needs.packages_sharding.outputs.test_matrix) }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ./package.json
      - uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          run_install: true
      - name: Download build artifact
        uses: actions/download-artifact@v4 # v4
        with:
          name: build-output
          path: .
      - name: Run tests for shard
        run: |
          PACKAGES_JSON='${{ toJson(matrix.shard.packages) }}'
          echo "$PACKAGES_JSON" | jq -r '.[]' | while read -r PACKAGE; do
            echo "Running tests for package: $PACKAGE"
            pnpm --filter "$PACKAGE" test
          done

  find_dockerfiles:
    name: Find Dockerfiles
    needs: [formatting, lint, test, lint-openapi]
    if: ${{ github.base_ref == 'develop' || github.base_ref == 'main' }}
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.set_packages_output.outputs.packages }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Find packages
        id: set_packages_output
        run: |
          PACKAGES=$(find packages -type f -path "*/Dockerfile" | awk -F'/' '{print $2}' | jq -R -s -c 'split("\n")[:-1]')
          echo "packages=$PACKAGES" >> $GITHUB_OUTPUT

  docker_build:
    name: Docker Build
    needs: [find_dockerfiles]
    if: ${{ github.base_ref == 'main' }}
    runs-on: ubuntu-latest
    environment: ecr-ro
    permissions:
      contents: read
      id-token: write
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        package: ${{ fromJson(needs.find_dockerfiles.outputs.packages) }}
    env:
      DOCKER_BUILD_SUMMARY: "false"
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ vars.IAM_ROLE_ARN }}
          role-session-name: be-monorepo-pr-validation-${{ github.run_number }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2

      - name: Build Docker image
        uses: docker/build-push-action@55146d969b0dff1a5c12630229609757af5b1081
        with:
          context: .
          file: packages/${{ matrix.package }}/Dockerfile
          build-args: |
            NODE_REGISTRY=${{ vars.NODE_REGISTRY }}
          push: false

  check_build_result:
    name: Build Result
    needs: [docker_build]
    if: ${{ always() && github.base_ref == 'main' }}
    runs-on: ubuntu-latest
    steps:
      - name: Check build result
        run: |
          [[ ${{ needs.docker_build.result }} != 'success' ]] && exit 1
          exit 0
